name: Build ValeAI APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
          # Usamos un buscador para no fallar con el nombre de la carpeta
          FOLDER=$(find . -maxdepth 1 -type d -name "android*" | head -n 1)
          echo "Carpeta detectada: $FOLDER"
          cd "$FOLDER"
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ValeAI-debug
          path: "**/*.apk"
